@model IEnumerable<ClinicaCaniZzoo.Models.Animals>

@{
    ViewBag.Title = "Animali";
}

<div class="d-flex justify-content-between my-3">
    <h2 class="fw-bolder fs-1">Animali</h2>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Aggiungi un nuovo animale</a>
    </p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">
                        <strong>Data di Registrazione:</strong> @Html.DisplayFor(modelItem => item.DataRegistrazione)<br />
                        <strong>Tipologia:</strong> @Html.DisplayFor(modelItem => item.Tipologia)<br />
                        <strong>Colore Mantello:</strong> @Html.DisplayFor(modelItem => item.ColoreMantello)<br />
                        <strong>Data di Nascita:</strong> @Html.DisplayFor(modelItem => item.DataNascita)<br />
                        <strong>Microchip:</strong> @Html.DisplayFor(modelItem => item.Microchip)<br />
                        <strong>Padrone:</strong> @if (item.Users != null)
                        {@Html.DisplayFor(modelItem => item.Users.Nome) }
                    else
                    { <span>Senza Padrone</span>}
                    </p>
                    <div class="btn-group" role="group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdAnimale }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.IdAnimale }, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
